extends ../partials/adminHeader
block main
  - console.log(campaigns[0])
  .all-content-header
    .title-wrapper
      span.title Özel Kampanyalar
      span.subtitle Bu sayfadan markalar tarafından oluşturulan kampanyaları görebilirsiniz. Kampanyalara gelen başvuruları görmek ve onaylamak için üzerine tıklayın.
  .all-content-inner-wrapper
    .campaigns-wrapper
      each campaign in campaigns 
        a.each-campaign(href="/admin/projects/submitions?id=" + campaign.project_id.toString())
          span.each-campaign-name= campaign.name
          //- span.each-campaign-description (#{campaign.company})
          //- span.each-campaign-description #{campaign.approved} onaylanmış başvuru
