extends ../partials/adminHeader
block main
  .all-content-header
    .title-wrapper
      span.title Sorular
      span.subtitle Bu sayfadan eklediğiniz soruları görebilir, düzenleyebilir, silebilir ve yeni sorular yaratabilirsiniz.
    .new-campaign-button
      span +
  .all-content-inner-wrapper
    form.search-wrapper
      input.search-input(type="text" placeholder="Soru Ara")
    .questions-wrapper
      each question in questions 
        .each-question
          span.question-name #{question.name} (#{type_names[question.type]})
          span.question-info(style="margin-bottom: 5px") _id: #{question._id}
          span.question-info= question.description
          .buttons-wrapper
            a(href="/admin/questions/details?id=" + question._id.toString())
              i.fas.fa-cog
            a(href="/admin/questions/delete?id=" + question._id.toString()  onclick="return confirm('Bu soruyu silmek istediğinize emin misiniz?')")
              i.fas.fa-trash
  form.new-form-wrapper(action="/admin/questions" method="POST")
    .form-inner-wrapper
      span.form-title Yeni Bir Soru Ekle
      span.form-subtitle Soru İsmi: *
      span.form-info Soruyu ileride bulmanızı kolaylaştıracak tanımlayıcı bir isim girin. Bu isim sadece admin tarafında görünür ve kullanıcılar tarafından görünmez.
      input.form-input(type="text" placeholder="ör: Hobi, En Sevilen Dizi Sorusu" name="name" required)
      span.form-subtitle Sorunun Filtre Olarak Geçerli Olacağı Ülkeler: *
      span.form-info Sorunun filtelemede kullanılabileceğ ülkelerin listesi. "TR", "US", "UK", "DE" veya "RU" değerlerinden birini yazın. Birden fazla ülke yazmak için araya virgül koyun. Boşluk ya da başka bir noktalama işareti kullanmayın.
      input.form-input(type="text" placeholder="ör: TR,US" name="countries" required)
      span.form-subtitle Soru Açıklaması: *
      span.form-info Sorunun amacını anlamanızı kolaylaştıracak bir açıklama girin. Bu açıklama sadece admin tarafında görünür ve kullanıcılar tarafından görünmez.
      input.form-input(type="text" placeholder="ör: Kullanıcıların en sevdikleri dizi ismi" name="description" required)
      span.form-subtitle Soru Metni: *
      span.form-info Sorunun metnini girin. Kullanıcılar bu metni okuyarak soruya cevap verecekler.
      input.form-input(type="text" placeholder="ör: En sevdiğiniz dizi nedir?" name="text" required)
      span.form-subtitle Soru Tipi
      span.form-info Soru tipini seçin. Daha sonraki soruları sadece eğer yanında seçtiğiniz tip yazıyorsa cevaplamalısınız.
      .type-wrapper
        label.each-radio-input-wrapper
          input.question-type-input(type="radio" name="type" value="short_text" required)
          span.each-radio-input-text Kısa Yazılı (Tek satır cevap)
        label.each-radio-input-wrapper
          input.question-type-input(type="radio" name="type" value="long_text" required)
          span.each-radio-input-text Uzun Yazılı (Birden çok satırlı cevap)
        label.each-radio-input-wrapper
          input.question-type-input(type="radio" name="type" value="radio" required)
          span.each-radio-input-text Tek Seçmeli (Verilen seçeneklerden sadece biri seçilebilir)
        label.each-radio-input-wrapper
          input.question-type-input(type="radio" name="type" value="checked" required)
          span.each-radio-input-text Çok Seçmeli (Verilen seçeneklerden birden çok seçim yapılabilir)
        label.each-radio-input-wrapper
          input.question-type-input(type="radio" name="type" value="range" required)
          span.each-radio-input-text Aralık Değerlendirme (Verilen aralık sınırları içerisinde kullanıcı değerlendirme tipinde bir soruyu cevaplar)
        label.each-radio-input-wrapper
          input.question-type-input(type="radio" name="type" value="image" required)
          span.each-radio-input-text Resim (Kullanıcı soru cevabı olarak bir adet resim yükler)
      span.form-subtitle Cevap Uzunluğu: * (Kısa/Uzun Yazılı)
      span.form-info Verilecek cevabın karakter olarak uzunluğu. Girmezseniz 1000 karakter olarak eklenir. Gereğinden uzun bir karakter limiti veritabanının gereksiz doldurulmasına yol açar.
      input.form-input(type="number" placeholder="ör: 2000" name="answer_length")
      span.form-subtitle Seçenekler: * (Tek/Çok Seçmeli)
      span.form-info Kullanıcının aralarından seçeceği cevapların bir listesi. Farklı cevapların arasına / işareti koyun. Cevaplarda noktalama işareti kullanmayın.
      input.form-input(type="text" placeholder="ör: Cevap 1 / Cevap 2 / Cevap 3" name="choices")
      span.form-subtitle Diğer Seçeneği: * (Tek/Çok Seçmeli)
      span.form-info İşaretlendiği zaman cevap listesinin sonuna kullanıcının içeriğini kendisinin dolduracağı bir diğer seçeneği ekler.
      label.input-line
        input(type="checkbox" name="other_option")
        span Diğer Seçeneği
      span.form-subtitle En Düşük Değer: * (Aralık Değerlendirme)
      span.form-info Kullanıcının değerlendireceği aralık için en düşük değer. Sadece bir sayı giriniz.
      input.form-input(type="number" placeholder="ör: 1" name="min_value")
      span.form-subtitle En Yüksek Değer: * (Aralık Değerlendirme)
      span.form-info Kullanıcının değerlendireceği aralık için en yüksek değer. Sadece bir sayı giriniz.
      input.form-input(type="number" placeholder="ör: 10" name="max_value")
      span.form-subtitle En Düşük Değer Açıklaması: * (Aralık Değerlendirme)
      span.form-info Verdiğiniz en düşük değerin anlaşılır olması için bir açıklama. Eğer girmezseniz kullanıcı tarafında bir açıklama görünmez.
      input.form-input(type="text" placeholder="ör: 1" name="min_explanation")
      span.form-subtitle En Yüksek Değer Açıklaması: * (Aralık Değerlendirme)
      span.form-info Verdiğiniz en yüksek değerin anlaşılır olması için bir açıklama. Eğer girmezseniz kullanıcı tarafında bir açıklama görünmez.
      input.form-input(type="text" placeholder="ör: 10" name="max_explanation")
      .buttons-wrapper
        .back-button Geri
        button.form-button Oluştur
