body {
  display: flex;
  flex-direction: column;
}

.all-wrapper {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
}
.all-inner-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.brand-wrapper {
  padding: 0px 20px;
  padding-top: 20px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.brand-text {
  color: rgb(30, 30, 30);
  font-weight: 600;
  font-size: 75%;
  text-decoration: none;
}
.language-change-wrapper span {
  color: rgb(30, 30, 30);
  font-weight: 600;
  margin: 0px 5px;
  font-size: 75%;
} 
.language-text {
  color: rgb(30, 30, 30);
  font-weight: 600;
  text-decoration: none;
  font-size: 75%;
}
.language-text:hover {
  text-decoration: underline;
}


.logo-name {
  color: rgb(30, 30, 30);
  font-weight: 800;
  font-size: 200%;
  margin-bottom: 15px;
}

.each-input {
  background-color: rgb(254, 254, 254);
  border: 2px solid rgb(236, 236, 236);
  box-shadow: 0px;
  color: rgb(30, 30, 30);
  font-size: 100%;
  padding: 15px 20px;
  width: 25vw;
  margin-top: 10px;
  outline: none;
  border-radius: 30px;
}

.select-input-outer-wrapper {
  height: 55px;
  margin-top: 10px;
  overflow: visible;
  z-index: 2;
}
.select-input-wrapper {
  height: 55px;
  background-color: rgb(254, 254, 254);
  border: 2px solid rgb(236, 236, 236);
  border-radius: 30px;
  width: 25vw;
  overflow: hidden;
  z-index: 2;
}
.select-input {
  background-color: rgb(254, 254, 254);
  box-shadow: 0px;
  color: rgb(30, 30, 30);
  font-size: 100%;
  width: 100%;
  outline: none;
  border: none;
  padding: 0px 20px;
  height: 55px;
  border-radius: 30px;
}
.select-input-choices {
  height: 140px;
  display: flex;
  flex-direction: column;
  background-color: rgb(254, 254, 254);
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
}
.each-input-choice {
  width: 100%;
  color: rgb(30, 30, 30);
  font-weight: 300;
  margin: 0px 20px;
  padding: 10px 0px;
  border-top: 1px solid rgb(236, 236, 236);
  text-align: center;
  cursor: pointer;
}

.open-bottom-animation-class {
  animation: open-bottom 0.5s ease-in-out 0s 1 forwards;
  -webkit-animation: open-bottom 0.5s ease-in-out 0s 1 forwards;
}
.close-up-animation-class {
  animation: close-up 0.5s ease-in-out 0s 1 forwards;
  -webkit-animation: close-up 0.5s ease-in-out 0s 1 forwards;
}

.error-text {
  color: rgb(240, 84, 79);
  font-weight: 600;
  font-size: 100%;
  margin-top: 20px;
  margin-bottom: -20px;
}

.send-button {
  height: 60px;
  padding: 0px 40px;
  background-color: rgb(240, 84, 79);
  border: 0px;
  cursor: pointer;
  display: flex;
  align-items: center;
  text-decoration: none;
  outline: none;
  margin-top: 40px;
  border-radius: 30px;
  box-shadow: 0 0 20px rgba(240, 84, 79, 0.5);
}
.send-button:hover {
  box-shadow: 0 0 23px rgba(240, 84, 79, 0.6);
}
.send-button span {
  color: rgb(254, 254, 254);
  font-weight: 700;
  font-size: 150%;
}

.bottom-wrapper {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 20px;
  min-height: fit-content;
  width: 100%;
}
.copyright-text {
  margin-right: 20px;
  color: rgb(30, 30, 30);
  font-weight: 300;
  font-size: 75%;
}

@keyframes open-bottom {
  from {
    height: 55px;
  }
  to {
    height: 200px;
  }
}
@-webkit-keyframes open-bottom {
  from {
    height: 55px;
  }
  to {
    height: 200px;
  }
}

@keyframes close-up {
  from {
    height: 200px;
  }
  to {
    height: 55px;
  }
}
@-webkit-keyframes close-up {
  from {
    height: 200px;
  }
  to {
    height: 55px;
  }
}


@media only screen and (max-width: 1100px) and (min-width: 900px) {
  .each-input, .select-input-wrapper {
    width: 30vw;
  }
}
@media only screen and (max-width: 900px) and (min-width: 700px) {
  .each-input, .select-input-wrapper {
    width: 35vw;
  }
}
@media only screen and (max-width: 700px) and (min-width: 600px) {
  .each-input, .select-input-wrapper {
    width: 45vw;
  }
}
@media only screen and (max-width: 600px) and (min-width: 450px) {
  .each-input, .select-input-wrapper {
    width: 55vw;
  }
}
@media only screen and (max-width: 450px) and (min-width: 300px) {
  .each-input, .select-input-wrapper {
    width: 80vw;
  }
}
