.lost-password-wrapper {
  width: 100%;
  margin-bottom: 15px;
  display: flex;
  justify-content: flex-end;
}
.lost-password-link {
  color: rgb(46, 197, 206);
  font-weight: 600;
  text-decoration: none;
  font-size: 75%;
}
.lost-password-link:hover {
  text-decoration: underline;
}
