.agreement-wrapper {
  display: flex;
  cursor: pointer;
}
.agreement-checkbox-wrapper {
  width: 25px;
  height: 25px;
  min-width: 25px;
  border-radius: 5px;
  border: 1px solid rgba(151, 151, 151, 0.3);
  background-color: rgb(254, 254, 254);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
}
.agreement-checkbox-wrapper i {
  color: rgb(254, 254, 254);
  font-size: 14px;
}
.agreement-link {
  color: rgb(46, 197, 206);
  text-decoration: none;
  font-weight: 600;
  font-size: 14px;
}
.agreement-link:hover {
  text-decoration: underline;
}
.agreement-text {
  font-size: 14px;
  color: rgb(78, 75, 102);
  font-weight: 500;
}
