extends ./../partials/head
block content
  .dashboard-all-wrapper
    .dashboard-header-wrapper
      a.dashboard-profile-wrapper(href="/settings")
        .company-profile-image-wrapper
          img.company-profile-image(src="/res/images/company_default_profile_image.png" alt="usersmagic dashboard profile icon")
        .company-profile-name-wrapper
          span.company-profile-name Teknosa Teknosa Teknosa Teknosa Teknosa Teknosa Teknosa Teknosa Teknosa Teknosa Teknosa Teknosa Teknosa Teknosa
          span.company-profile-text Ayarlar için tıklayın
      .create-campaign-button
        i.fas.fa-plus
        span Kampanya Yarat
    .dashbard-search-wrapper
      input.dashboard-search-input(type="text" placeholder="Kampanya Ara")
    .dashboard-content-wrapper
    .dashboard-bottom-wrapper
      .dashboard-help-button
        i.fas.fa-question
      span.dashboard-copyright-text Copyright 2020
