.all-content-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.all-content-inner-wrapper {
  width: 300px;
  display: flex;
  flex-direction: column;
}

.phone-code-input-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.phone-code {
  width: 45px;
  margin-right: -45px;
  padding-left: 22px;
  z-index: 2;
  height: 55px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(78, 75, 102);
  font-size: 12px;
  font-weight: 600;
}

.phone-code-input {
  height: 55px;
  min-height: 55px;
  width: 100%;
  padding: 0px 22px;
  color: rgb(78, 75, 102);
  font-size: 12px;
  font-weight: 600;
  border: 1px solid rgba(151, 151, 151, 0.3);
  border-radius: 5px;
  outline-color: rgba(46, 197, 206, 0.6);
  outline-width: 0.5px;
  padding-left: 50px;
}
