extends ./../partials/head
block content
  .all-wrapper
    .brand-wrapper
      a.brand-text(href="/brand") Marka Sayfası
    .all-inner-wrapper
      span.logo-name usersmagic
      span.logo-subtitle Para Kazanmanın En Kolay Yolu
      a.register-button(href="/auth/register")
        span Hemen Başla
      .login-wrapper
        span.login-text Zaten üye misin?
        a.login-link(href="/auth/login") Giriş Yap
    .bottom-wrapper
      span.copyright-text Copyright 2020 - Loy Yazılım
