body {
  overflow: hidden !important;
}

.all-content {
  flex: 1;
  height: 100vh;
  overflow: hidden;
}

.all-content-inner-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  padding: 20px;
  padding-right: 60px;
}
.content-title {
  color: rgb(30, 30, 30);
  font-weight: 700;
  font-size: 150%;
  margin-bottom: 20px;
}
#campaign-question-title, #campaign-filter-title, #campaign-payment-title {
  display: none;
}
.each-input {
  background-color: rgb(254, 254, 254);
  border: 2px solid rgb(236, 236, 236);
  box-shadow: 0px;
  color: rgb(30, 30, 30);
  font-size: 100%;
  padding: 15px 20px;
  width: 100%;
  margin-bottom: 20px;
  outline: none;
  border-radius: 30px; 
}
.each-input-title {
  font-size: 100%;
  color: rgb(30, 30, 30);
  font-weight: 700;
  margin-bottom: 10px;
}

.campaign-info-wrapper {
  flex: 1;
  width: 100%;
  display: flex;
  align-items: flex-start;
}
.campaign-info-left-wrapper {
  height: 100%;
  margin-right: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.photo-wrapper {
  flex: 1;
  height: 300px;
  width: 300px;
  max-height: 300px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgb(236, 236, 236);
  border-radius: 30px;
  margin-bottom: 5px;
  overflow: hidden;
}
.campaign-photo {
  display: none;
  height: 100%;
  width: auto;
}
.photo-wrapper i {
  font-size: 300%;
  color: rgba(30, 30, 30, 0.5);
}

.campaign-info-right-wrapper {
  flex: 2;
  display: flex;
  flex-direction: column;
}
.input-info {
  color: rgb(30, 30, 30);
  font-weight: 300;
  margin-bottom: 20px;
  font-size: 95%;
  margin-left: 30px;
}
.name-input {
  background-color: rgb(254, 254, 254);
  border: 2px solid rgb(236, 236, 236);
  box-shadow: 0px;
  color: rgb(30, 30, 30);
  font-size: 100%;
  padding: 15px 20px;
  width: 60%;
  margin-bottom: 5px;
  outline: none;
  border-radius: 30px;
}
.description-input {
  background-color: rgb(254, 254, 254);
  border: 2px solid rgb(236, 236, 236);
  box-shadow: 0px;
  color: rgb(30, 30, 30);
  font-size: 100%;
  padding: 15px 20px;
  width: 100%;
  margin-bottom: 5px;
  outline: none;
  border-radius: 30px;
}
.information-input {
  background-color: rgb(254, 254, 254);
  border: 2px solid rgb(236, 236, 236);
  box-shadow: 0px;
  color: rgb(30, 30, 30);
  font-size: 100%;
  padding: 15px 20px;
  width: 100%;
  height: 150px;
  margin-bottom: 5px;
  outline: none;
  border-radius: 30px;
}
.continue-button {
  margin-top: 30px;
  background-color: rgb(240, 84, 79);
  box-shadow: 0 0 20px rgba(240, 84, 79, 0.4);
  text-decoration: none;
  margin-left: auto;
  height: 50px;
  padding: 0px 30px;
  border-radius: 25px;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.continue-button:hover {
  box-shadow: 0 0 23px rgba(240, 84, 79, 0.5);
}
.continue-button span {
  color: rgb(254, 254, 254);
  font-weight: 700;
  font-size: 125%;
}

.campaign-info-filter-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}
.select-input-outer-wrapper {
  height: 55px;
  overflow: visible;
  z-index: 2;
  flex: 1;
  margin-right: 10px;
}
.select-input-wrapper {
  height: 55px;
  background-color: rgb(254, 254, 254);
  border: 2px solid rgb(236, 236, 236);
  border-radius: 30px;
  width: 100%;
  overflow: hidden;
  z-index: 2;
}
.select-input {
  background-color: rgb(254, 254, 254);
  box-shadow: 0px;
  color: rgb(30, 30, 30);
  font-size: 100%;
  width: 100%;
  outline: none;
  border: none;
  padding: 0px 20px;
  height: 50px;
  border-radius: 30px;
}
.select-input-choices {
  height: 140px;
  display: flex;
  flex-direction: column;
  background-color: rgb(254, 254, 254);
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
}
.each-input-choice {
  color: rgb(30, 30, 30);
  font-weight: 300;
  margin: 0px 20px;
  padding: 10px 0px;
  border-top: 1px solid rgb(236, 236, 236);
  text-align: center;
  cursor: pointer;
}
.birth-year-input-wrapper {
  display: flex;
  align-items: center;
  flex: 2;
}
.min-birth-year-input {
  margin-bottom: 0px !important;
  width: auto !important;
  flex: 1 !important;
  margin-right: 10px;
}
.max-birth-year-input {
  margin-bottom: 0px !important;
  width: auto !important;
  flex: 1 !important;
}

.open-bottom-animation-class {
  animation: open-bottom 0.5s ease-in-out 0s 1 forwards;
  -webkit-animation: open-bottom 0.5s ease-in-out 0s 1 forwards;
}
.close-up-animation-class {
  animation: close-up 0.5s ease-in-out 0s 1 forwards;
  -webkit-animation: close-up 0.5s ease-in-out 0s 1 forwards;
}

.campaign-question-wrapper {
  flex: 1;
  width: 100%;
  height: 100%;
  display: none;
  align-items: flex-start;
}

.campaign-question-create-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-right: 20px;
  min-height: fit-content;
}
.question-types-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.each-question-type-wrapper {
  height: 175px;
  width: 175px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid transparent;
  cursor: pointer;
  border-radius: 20px;
}
.each-question-type-wrapper:hover {
  border-color: rgb(240, 84, 79);
}
.each-question-type-icon {
  width: 100px;
  height: auto;
  margin-bottom: 10px;
}
.each-question-type {
  color: rgb(30, 30, 30);
  font-weight: 300;
  font-size: 90%;
  text-align: center;
}

.campaign-question-content-wrapper {
  display: none;
  flex: 1;
  height: 100%;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
  margin-right: 20px;
}

.selected-question-create-wrapper {
  width: 100%;
  padding-bottom: 100px;
  display: none;
  flex-direction: column;
  min-height: fit-content;
  height: fit-content;
}
.other-option-button {
  align-self: flex-start;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  cursor: pointer;
}
.other-option-selection {
  width: 20px;
  height: 20px;
  background-color: rgb(254, 254, 254);
  border: 2px solid rgb(236, 236, 236);
  margin-right: 10px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.other-option-selection i {
  color: rgb(254, 254, 254);
  font-size: 65%;
}
.other-option-button span {
  color: rgb(30, 30, 30);
  font-weight: 300;
}
.create-question-button {
  background-color: rgb(240, 84, 79);
  text-decoration: none;
  margin-left: auto;
  height: 50px;
  padding: 0px 30px;
  border-radius: 25px;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.create-question-button span {
  color: rgb(254, 254, 254);
  font-weight: 700;
  font-size: 125%;
}
.new-choice-wrapper {
  display: flex;
  align-items: center;
  background-color: rgb(254, 254, 254);
  padding: 15px 20px;
  margin-bottom: 15px;
  border: 2px solid rgb(236, 236, 236);
  border-radius: 30px;
}
.new-choice-wrapper i {
  color: rgba(30, 30, 30, 0.4);
  cursor: pointer;
  margin-left: 5px;
}
.new-choice-wrapper i:hover {
  color: rgb(30, 30, 30);
}
.new-choice-wrapper span {
  color: rgb(30, 30, 30);
  margin-right: auto;
}

.written-question-create-wrapper {
  width: 100%;
  padding-bottom: 100px;
  display: none;
  flex-direction: column;
  min-height: fit-content;
  height: fit-content;
}

.campaign-questions-outer-wrapper {
  flex: 1;
  height: 100%;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
}
.campaign-questions-wrapper {
  flex: 1;
  min-height: fit-content;
  margin-left: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}
.no-question-text {
  width: 100%;
  text-align: center;
  font-weight: 300;
  color: rgb(30, 30, 30);
  margin-top: 100px;
}
.new-question-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  margin-bottom: 30px;
  padding-bottom: 10px;
  border-bottom: 2px solid rgb(236, 236, 236);
}
.new-question-button-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 5px;
}
.new-question-button-wrapper i {
  margin-left: 5px;
  color: rgba(30, 30, 30, 0.4);
  cursor: pointer;
}
.new-question-button-wrapper i:hover {
  color: rgb(30, 30, 30);
}
.new-question-text {
  color: rgb(30, 30, 30);
  font-weight: 600;
  font-size: 100%;
  margin-bottom: 20px;
}
.question-short-answer-input-wrapper, .question-long-answer-input-wrapper {
  flex-direction: column;
  display: none;
  flex: 1;
}
.question-short-answer-input, .question-long-answer-input {
  background-color: rgb(254, 254, 254);
  border: 2px solid rgb(236, 236, 236);
  box-shadow: 0px;
  color: rgb(30, 30, 30);
  font-size: 100%;
  padding: 15px 20px;
  width: 100%;
  outline: none;
  border-radius: 30px;
}
.question-long-answer-input {
  height: 50%;
}
.question-left-character-text {
  margin-left: auto;
  font-size: 100%;
  font-weight: 300;
  color: rgb(30, 30, 30);
  margin-top: 10px;
}
.each-choice {
  margin-left: 20px;
  margin-bottom: 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
}
.choice-inner-radio {
  width: 6px;
  height: 6px;
  border-radius: 3px;
  background-color: rgb(254, 254, 254);
}
.choice-radio {
  width: 20px;
  height: 20px;
  border-radius: 10px;
  background-color: rgb(254, 254, 254);
  border: 1px solid rgb(236, 236, 236);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
}
.choice-checked {
  width: 20px;
  height: 20px;
  border-radius: 4px;
  background-color: rgb(254, 254, 254);
  border: 1px solid rgb(236, 236, 236);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
}
.choice-checked i {
  font-size: 65%;
  color: rgb(254, 254, 254);
}
.choice-text {
  color: rgb(30, 30, 30);
  font-weight: 300;
}
.selected-choice {
  background-color: rgb(80, 177, 238) !important;
}
.other-option-wrapper-radio, .other-option-wrapper-checked {
  display: none;
  align-items: center;
  margin-left: 20px;
}
.other-option-input-radio, .other-option-input-checked {
  border: none;
  background-color: transparent;
  border-bottom: 1px solid rgb(236, 236, 236);
  padding-bottom: 5px;
  color: rgb(30, 30, 30);
  font-weight: 300;
  outline: none;
  font-size: 100%;
}

.campaign-filter-wrapper {
  flex: 1;
  width: 100%;
  display: none;
  flex-direction: column;
}
.filter-info {
  color: rgb(30, 30, 30);
  font-weight: 300;
  margin: 20px 0px;
}

.add-filters-button {
  color: rgb(80, 177, 238);
  display: flex;
  align-items: center;
  cursor: pointer;
}
.add-filters-button span {
  font-weight: 700;
  font-size: 125%;
  margin-left: 10px;
}

.added-filters-wrapper {
  flex: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}
.added-filters-text {
  color: rgb(30, 30, 30);
  font-weight: 300;
  margin-top: 100px;
  align-self: center;
}
.each-added-filter {
  background-color: rgb(254, 254, 254);
  border: 2px solid rgb(236, 236, 236);
  border-radius: 20px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}
.each-added-filter-name {
  color: rgb(30, 30, 30);
  margin-bottom: 5px;
  font-weight: 600;
}
.each-added-filter-text {
  color: rgb(30, 30, 30);
  margin-bottom: 10px;
  font-weight: 300;
}
.each-added-filter-answer-wrapper {
  display: flex;
  align-items: center;
}
.each-added-filter-answer-title {
  color: rgb(80, 177, 238);
  font-weight: 600;
  margin-right: 5px;
}
.each-added-filter-answer {
  color: rgb(30, 30, 30);
  font-weight: 300;
}

.choose-filters-wrapper {
  display: none;
  position: absolute;
  background-color: rgb(254, 254, 254);
  width: 80vw;
  height: 90vh;
  z-index: 20;
  left: 50vw;
  top: 50vh;
  transform: translate(-50%, -50%);
  padding: 30px;
  box-shadow: 0 0 20px rgba(30, 30, 30, 0.1);
  border: 2px solid rgb(236, 236, 236);
  border-radius: 30px;
}

.choose-filters-inner-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.choose-filters-title-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}
.choose-filters-title {
  color: rgb(30, 30, 30);
  color: rgb(240, 84, 79);
  font-weight: 700;
  font-size: 150%;
}
.close-filters-button {
  color: rgb(240, 84, 79);
  font-weight: 700;
  font-size: 125%;
  cursor: pointer;
}
.choose-filters-input-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.choose-filters-found-number {
  color: rgb(30, 30, 30);
  font-weight: 300;
}
.search-filter-input {
  border: none;
  outline: none;
  color: rgb(30, 30, 30);
  font: 300;
  flex: 1;
  font-size: 100%;
}
.choose-filters-each-filter-wrapper {
  flex: 1;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
}
.each-choose-filter {
  border: 2px solid rgb(236, 236, 236);
  padding: 15px 20px;
  margin-bottom: 20px;
  border-radius: 30px;
  cursor: pointer;
}
.each-choose-filter:hover {
  box-shadow: 0 0 5px rgb(236, 236, 236);
}
.each-choose-filter-name {
  color: rgb(30, 30, 30);
  font-weight: 600;
}

.choose-filters-options-wrapper {
  width: 100%;
  height: 100%;
  display: none;
  flex-direction: column;
}
.choose-all-button-wrapper {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-left: auto;
  margin-bottom: 20px;
}
.choose-all-button-wrapper span {
  color: rgb(30, 30, 30);
  font-weight: 600;
}
.choose-filters-each-option-wrapper {
  flex: 1;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
}
.each-filter-option-wrapper {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-bottom: 15px;
}
.each-filter-option-wrapper span {
  color: rgb(30, 30, 30);
  font-weight: 600;
}
.choose-filters-buttons-wrapper {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.options-go-back-button {
  color: rgb(80, 177, 238);
  font-weight: 700;
  font-size: 125%;
  cursor: pointer;
}
.options-go-back-button:hover {
  text-decoration: underline;
}
.filter-add-button {
  background-color: rgb(240, 84, 79);
  box-shadow: 0 0 20px rgba(240, 84, 79, 0.4);
  text-decoration: none;
  height: 50px;
  padding: 0px 30px;
  border-radius: 25px;
  display: flex;
  align-items: center;
  cursor: not-allowed;
  margin-left: 20px;
}
.filter-add-button:hover {
  box-shadow: 0 0 20px rgba(240, 84, 79, 0.5);
}
.filter-add-button span {
  color: rgb(254, 254, 254);
  font-weight: 700;
  font-size: 125%;
}

@keyframes open-bottom {
  from {
    height: 55px;
  }
  to {
    height: 200px;
  }
}
@-webkit-keyframes open-bottom {
  from {
    height: 55px;
  }
  to {
    height: 200px;
  }
}

@keyframes close-up {
  from {
    height: 200px;
  }
  to {
    height: 55px;
  }
}
@-webkit-keyframes close-up {
  from {
    height: 200px;
  }
  to {
    height: 55px;
  }
}

@media only screen and (max-width: 1000px) and (min-width: 300px) {
  .campaign-info-wrapper {
    flex-direction: column;
  }
  .all-content-inner-wrapper {
    margin-bottom: 100px;
  }
  .continue-button span {
    font-size: 100%;
  }
}
@media only screen and (max-width: 700px) and (min-width: 300px) {
  .all-content-inner-wrapper {
    padding-right: 20px;
  }
}
@media only screen and (max-width: 450px) and (min-width: 300px) {
  .all-content {
    margin-bottom: 75px;
  }
  .all-content-inner-wrapper {
    margin-bottom: 10px;
  }
}
