.dashboard-all-wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
}

.dashboard-header-wrapper {
  height: fit-content;
  min-height: fit-content;
  width: 100vw;
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.dashboard-profile-wrapper {
  display: flex;
  align-items: center;
  text-decoration: none;
}
.company-profile-image-wrapper {
  margin-right: 10px;
  width: 50px;
  height: 50px;
  border-radius: 25;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.company-profile-image {
  width: 100%;
  height: auto;
}
.company-profile-name-wrapper {
  display: flex;
  flex-direction: column;
  max-width: 200px;
}
.company-profile-name {
  color: rgb(30, 30, 30);
  font-weight: 600;
  margin-bottom: 5px;
  font-size: 125%;
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.company-profile-text {
  color: rgb(30, 30, 30);
  font-weight: 300;
  font-size: 75%;
}

.create-campaign-button {
  background-color: rgb(68, 71, 226);
  padding: 20px;
  border-radius: 15px;
  color: rgb(248, 248, 248);
  cursor: pointer;
}
.create-campaign-button:hover {
  box-shadow: 0 0 8px rgba(68, 71, 226, 0.3);
}
.create-campaign-button i {
  margin-right: 5px;
  display: none;
}
.create-campaign-button span {
  font-weight: 800;
}
