* {
  -webkit-font-smoothing: antialiased;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;  
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
html {
  width: 100%;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
  height: 100%;
	background: rgb(24, 24, 24);
	background-size: cover;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  width: 100vw;
  margin: 0px;
  padding: 0px;
  height: 100vh;
  bottom: 0px;
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.colored {
  background: -webkit-linear-gradient(-45deg, rgb(20, 161, 255), rgb(141, 91, 255), rgb(234, 49, 96));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.red {
  color: rgb(234, 49, 96) !important;
}
.green {
  color: rgb(0, 204, 136) !important;
}
.blue {
  color: rgb(20, 161, 255) !important;
}
.yellow {
  color: rgb(255, 204, 0) !important;
}
.purple {
  color: rgb(141, 91, 255) !important;
}
.bold {
  font-weight: 600 !important;
}

.header-wrapper {
  position: fixed;
  z-index: 5;
  background-color: rgb(24, 24, 24);
  height: 70px;
  width: 100vw;
  display: flex;
  align-items: center;
  padding: 0px 40px;
  /* border-bottom: 1px solid rgba(254, 254, 254, 0.1); */
}
.main-logo-wrapper {
  display: flex;
  align-items: center;
  height: 100%;
  text-decoration: none;
}
.main-logo {
  height: 44%;
}
.logo-text {
  color: rgb(254, 254, 254);
  font-weight: 700;
  margin-left: 5px;
}

.change-language-wrapper {
  margin-left: auto;
  height: 70px;
  width: 20px;
  cursor: pointer;
  margin-right: 15px;
  overflow: visible;
}
.change-language-inner-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 70px;
}
.current-language {
  color: rgb(254, 254, 254);
  font-size: 75%;
  margin-right: 5px;
  font: 300;
}
.change-language-inner-wrapper i {
  color: rgb(254, 254, 254);
  font-size: 100%;
}
.change-language-menu {
  display: none;
  background-color: rgb(30, 30, 30);
  width: 125px;
  height: 150px;
  margin-top: -15px;
  margin-left: -95px;
  border: 1px solid rgba(50, 50, 50, 0.45);
  border-top: 0px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
  overflow-x: hidden;
  box-shadow: 0px 2px 7px rgb(30, 30, 30);
}
.change-language-menu-inner-wrapper {
  display: flex;
  flex-direction: column;
  min-height: fit-content;
  width: 125px;
  overflow: hidden;
}
.each-language-button {
  height: 40px;
  width: 125px;
  border-top: 1px solid rgba(50, 50, 50, 0.35);
  color: rgb(254, 254, 254);
  font: 100%;
  font: 700;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
.each-language-button:hover {
  background-color: rgb(24, 24, 24);
}

.header-register-button {
  height: 40px;
  width: 140px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(20, 161, 255);
  border-radius: 25px;
  text-decoration: none;
  color: rgb(254, 254, 254);
  font-weight: 700;
  cursor: pointer;
}
.header-register-button:hover {
  box-shadow: 0px 2px 5px rgba(20, 161, 255, 0.2);
}
.header-change-page-button {
  text-decoration: none;
  color: rgb(20, 161, 255);
  font-weight: 700;
  font-weight: 125%;
  margin-left: 15px;
}
.header-change-page-button:hover {
  text-decoration: underline;
}

.content-wrapper {
  flex: 1;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
}
.content-inner-wrapper {
  width: 100%;
  padding: 0px 40px;
  min-height: fit-content;
  display: flex;
  flex-direction: column;
}

.start-page-wrapper {
  width: 100%;
  min-height: 100vh;
  padding-top: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.start-page-title {
  font-size: 480%;
  font-weight: 700;
  color: rgb(254, 254, 254);
  text-align: center;
  width: 55%;
  margin-top: 30px;
}
.start-page-info {
  font-size: 200%;
  font-weight: 400;
  color: rgb(187, 187, 187);
  margin-top: 15px;
  text-align: center;
}
.start-page-button {
  height: 44px;
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(20, 161, 255);
  border-radius: 25px;
  text-decoration: none;
  color: rgb(254, 254, 254);
  font-weight: 700;
  margin-top: 25px;
  font-size: 115%;
  cursor: pointer;
}
.start-page-button:hover {
  box-shadow: 0px 2px 5px rgba(20, 161, 255, 0.2);
}
.learn-more-link {
  margin-top: 100px;
  margin-bottom: 40px;
  color: rgba(141, 91, 255, 0.6);
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: 100%;
  font-weight: 400;
}
.learn-more-link:hover {
  color: rgb(141, 91, 255);
}
.learn-more-link i {
  margin-left: 8px;
}

.steps-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 100px;
}
.steps-wrapper img {
  width: 100%;
}
.steps-inner-wrapper {
  width: 100%;
  display: flex;
}
.first-step {
  width: 40%;
  color: rgb(254, 254, 254);
  font-size: 125%;
  font-weight: 600;
  margin-top: -180px;
}
.second-step {
  width: 30%;
  text-align: center;
  color: rgb(254, 254, 254);
  font-size: 125%;
  font-weight: 600;
  margin-top: 10px;
}
.third-step {
  margin-top: 5px;
  width: 25%;
  margin-left: 5%;
  text-align: right;
  color: rgb(254, 254, 254);
  font-size: 125%;
  font-weight: 600;
}

.steps-wrapper-responsive {
  display: none;
  flex-direction: column;
}
.steps-wrapper-responsive img {
  width: 200px;
  height: auto;
  margin-top: 75px;
}
.step-text-responsive {
  color: rgb(254, 254, 254);
  font-weight: 700;
  font-size: 125%;
  margin-top: 15px;
  width: 75%;
}

.tester-info-wrapper {
  display: flex;
  flex-direction: column;
  margin: 50px 0px;
}
.tester-info-first {
  display: flex;
  color: rgb(254, 254, 254);
  font-size: 375%;
  font-weight: 700;
  margin-top: 100px;
}
.tester-info-second {
  display: flex;
  color: rgb(254, 254, 254);
  font-size: 375%;
  font-weight: 700;
  margin-left: auto;
  margin-top: 15px;
}
.tester-info-text {
  opacity: 0;
}

.missions-wrapper {
  display: flex;
  flex-direction: column;
  margin-top: 200px;
  width: 100%;
}
.missions-wrapper img {
  width: 100%;
  height: auto;
}
.first-mission {
  font-size: 500%;
  font-weight: 700;
  color: rgb(254, 254, 254);
}
.second-mission {
  font-size: 500%;
  font-weight: 700;
  color: rgb(254, 254, 254);
  margin: 50px 0;
  margin-left: auto;
}

.form-wrapper {
  margin-top: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form-title {
  color: rgb(254, 254, 254);
  font-size: 275%;
  font-weight: 700;
}
.form-input-wrapper {
  display: flex;
  width: 100%;
  margin-top: 125px;
}
.form-input-first-column {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-right: 20px;
}
.form-input-second-column {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-left: 20px;
}
.each-form-input {
  margin-top: 20px;
  border: none;
  background-color: rgba(50, 50, 50, 0.45);
  border-radius: 10px;
  padding: 20px 25px;
  width: 100%;
  color: rgb(254, 254, 254);
  font-size: 175%;
  outline-color: rgb(254, 254, 254);
}
.date-input-wrapper {
  margin-top: 20px;
  width: 100%;
  display: flex;
  align-items: center;
}
.date-input-small {
  flex: 1;
  margin-right: 20px;
  border: none;
  background-color: rgba(50, 50, 50, 0.45);
  border-radius: 10px;
  padding: 20px 25px;
  width: 100%;
  color: rgb(254, 254, 254);
  font-size: 175%;
  outline-color: rgb(254, 254, 254);
}
.date-input-big {
  flex: 2;
  border: none;
  background-color: rgba(50, 50, 50, 0.45);
  border-radius: 10px;
  padding: 20px 25px;
  width: 100%;
  color: rgb(254, 254, 254);
  font-size: 175%;
  outline-color: rgb(254, 254, 254);
}
.student-button-wrapper {
  margin-top: 20px;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.student-button {
  height: 20px;
  width: 20px;
  border-radius: 5px;
  border: 1px solid rgb(254, 254, 254);
  display: flex;
  align-items: center;
  justify-content: center;
}
.student-button i {
  color: rgb(24, 24, 24);
  font-weight: 700;
  font-size: 85%;
  margin-top: 2px;
  display: none;
}
.student-button-wrapper span {
  font-size: 125%;
  color: rgb(254, 254, 254);
  font-weight: 500;
  margin-left: 10px;
}
.form-send-button {
  height: 70px;
  width: 220px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(20, 161, 255);
  border-radius: 35px;
  text-decoration: none;
  color: rgb(254, 254, 254);
  font-weight: 700;
  outline: none;
  border: none;
  margin-top: 50px;
  font-size: 150%;
  cursor: pointer;
}
.form-send-button:hover {
  box-shadow: 0px 2px 5px rgba(20, 161, 255, 0.2);
}
.form-response-wrapper {
  width: 100%;
  margin-top: 20px;
  display: flex;
  justify-content: center;
}
.form-response {
  color: rgb(0, 204, 136);
  font-weight: 700;
  font-size: 125%;
  display: none;
  text-align: center;
}

.footer {
  display: flex;
  flex-direction: column;
  height: 400px;
  width: 100%;
  border-top: 1px solid rgba(50, 50, 50, 0.45);
  margin-top: 200px;
}
.footer-top {
  display: flex;
  margin-top: 40px;
  flex: 1;
}
.each-footer-column {
  display: flex;
  flex-direction: column;
}
.footer-title {
  font-size: 175%;
  color: rgb(254, 254, 254);
  font-weight: 700;
  margin-bottom: 25px;
}
.footer-text {
  font-size: 125%;
  color: rgb(254, 254, 254);
  font-weight: 500;
  margin-bottom: 15px;
}
.footer-bottom {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-bottom: 40px;
}
.copyright {
  color: rgb(187, 187, 187);
  font-size: 80%;
  font: 300;
  margin-top: 2px;
}

.opacity-decrease-animation-class {
  -webkit-animation: opacityDecrease 1s ease-in-out 0s 1 forwards;
  animation: opacityDecrease 1s ease-in-out 0s 1 forwards;
}
.opacity-increase-animation-class {
  -webkit-animation: opacityIncrease 0.1s ease-in-out 0s 1 forwards;
  animation: opacityIncrease 0.1s ease-in-out 0s 1 forwards;
}
.opacity-slowly-increase-animation-class {
  -webkit-animation: opacityIncrease 1s ease-in-out 0s 1 forwards;
  animation: opacityIncrease 1s ease-in-out 0s 1 forwards;
}

@keyframes opacityDecrease {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@-webkit-keyframes opacityDecrease {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes opacityIncrease {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes opacityIncrease {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media only screen and (max-width: 520px) and (min-width: 300px) {
  .header-wrapper {
    padding: 0px 20px;
  }
  .content-inner-wrapper {
    padding: 0px 20px;
  }
}

@media only screen and (max-width: 1029px) and (min-width: 800px) {
  .start-page-title {
    width: 70%;
  }
}
@media only screen and (max-width: 800px) and (min-width: 660px) {
  .start-page-title {
    width: 90%;
  }
}
@media only screen and (max-width: 660px) and (min-width: 300px) {
  .start-page-title {
    width: 100%;
  }
}
@media only screen and (max-width: 600px) and (min-width: 520px) {
  .start-page-title {
    font-size: 400%;
  }
}
@media only screen and (max-width: 520px) and (min-width: 300px) {
  .start-page-title {
    font-size: 325%;
  }
}
@media only screen and (max-width: 440px) and (min-width: 360px) {
  .start-page-title {
    font-size: 260%;
  }
}
@media only screen and (max-width: 360px) and (min-width: 300px) {
  .start-page-title {
    font-size: 200%;
  }
}

@media only screen and (max-width: 500px) and (min-width: 300px) {
  .start-page-info {
    font-size: 115%;
  }
}

@media only screen and (max-width: 500px) and (min-width: 400px) {
  .header-register-button {
    width: 100px;
    font-size: 75%;
  }
  .change-language-wrapper {
    margin-right: 10px;
  }
  .header-change-page-button {
    font-size: 75%;
    margin-left: 10px;
  }
  .each-language {
    margin-right: 10px;
  }
}
@media only screen and (max-width: 400px) and (min-width: 300px) {
  .header-register-button {
    width: 100px;
    font-size: 75%;
  }
  .change-language-wrapper {
    margin-right: 10px;
  }
  .header-change-page-button {
    font-size: 75%;
    margin-left: 10px;
  }
  .logo-text {
    display: none;
  }
}

@media only screen and (max-width: 550px) and (min-width: 350px) {
  .services-title {
    font-size: 250%;
  }
}
@media only screen and (max-width: 350px) and (min-width: 300px) {
  .services-title {
    font-size: 200%;
  }
}

@media only screen and (max-width: 550px) and (min-width: 400px) {
  .each-services-line img {
    height: auto;
    width: 150px;
  }
}
@media only screen and (max-width: 400px) and (min-width: 300px) {
  .each-services-line img {
    height: auto;
    width: 100px;
  }
  .each-services-title {
    font-size: 150%;
  }
  .each-services-info {
    font-size: 85%;
  }
}

@media only screen and (max-width: 800px) and (min-width: 500px) {
  .tester-info-first, .tester-info-second {
    font-size: 225%;
  }
}
@media only screen and (max-width: 500px) and (min-width: 300px) {
  .tester-info-first, .tester-info-second {
    font-size: 125%;
  }
}

@media only screen and (max-width: 1200px) and (min-width: 1000px) {
  .first-step {
    margin-top: -125px;
  }
}
@media only screen and (max-width: 1000px) and (min-width: 750px) {
  .first-step {
    margin-top: -90px;
    font-size: 100%;
  }
  .second-step {
    margin-top: 10px;
    font-size: 100%;
  }
  .third-step {
    font-size: 100%;
  }
}
@media only screen and (max-width: 750px) and (min-width: 300px) {
  .steps-wrapper {
    display: none;
  }
  .steps-wrapper-responsive {
    display: flex;
  }
}

@media only screen and (max-width: 850px) and (min-width: 550px) {
  .first-mission, .second-mission {
    font-size: 300%;
  }
  .second-mission {
    margin-bottom: 150px;
  }
}
@media only screen and (max-width: 550px) and (min-width: 300px) {
  .first-mission, .second-mission {
    font-size: 200%;
  }
  .second-mission {
    margin-top: 25px;
    margin-bottom: 100px;
  }
  .form-title {
    font-size: 175%;
  }
  .form-wrapper {
    margin-top: 100px;
  }
  .form-input-wrapper {
    margin-top: 50px
  }
}

@media only screen and (max-width: 900px) and (min-width: 300px) {
  .form-input-wrapper {
    flex-direction: column;
  }
  .form-input-first-column, .form-input-second-column {
    margin: 0px;
  }
  .each-form-input, .form-send-button, .date-input-small, .date-input-big {
    font-size: 125%;
  }
}

@media only screen and (max-width: 600px) and (min-width: 300px) {
  .services-footer {
    display: none;
  }
}
