* {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
}

.all-wrapper {
  left: 0;
  top: 0;
  display: flex;
  position: absolute;
  background-color: rgba(1, 1, 1, 0.9);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  z-index: 10;
}
.all-wrapper-inner-tester, .all-wrapper-inner-company {
  display: flex;
  flex-direction: column;
}
.all-wrapper-inner-company {
  display: none;
}
.all-wrapper-text {
  color: rgb(254, 254, 254);
  font-weight: 600;
  font-size: 22px;
  letter-spacing: 2px;
  margin-bottom: 20px;
}
.all-wrapper-buttons-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
.all-wrapper-left-button {
  background-color: transparent;
  border: 1px solid rgb(254, 254, 254);
  color: rgb(254, 254, 254);
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 1px;
  padding: 15px;
  margin-right: 10px;
  width: 275px;
  display: flex;
  justify-content: center;
  cursor: pointer;
  border-radius: 5px;
}
.all-wrapper-right-button {
  background-color: rgb(254, 254, 254);
  border: 1px solid rgb(254, 254, 254);
  color: rgb(1, 1, 1);
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 1px;
  padding: 15px;
  margin-left: 10px;
  width: 275px;
  display: flex;
  justify-content: center;
  cursor: pointer;
  border-radius: 5px;
}
.all-wrapper-left-button:hover, .all-wrapper-right-button:hover {
  box-shadow: 0 0 15px rgba(1, 1, 1, 1);
}

.all-wrapper-tester {
  display: none;
  width: 100vw;
  height: 100vh;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
  background-color: rgb(254, 254, 254);
}
.all-wrapper-tester-inner-wrapper {
  width: 100vw;
  height: fit-content;
  min-height: fit-content;
  display: flex;
  flex-direction: column;
}
.tester-landing-background {
  position: absolute;
  width: 100vw;
  top: -200px;
}

.tester-landing-transparent-wrapper {
  z-index: 2;
  width: 100vw;
  display: flex;
  flex-direction: column;
  background: linear-gradient(93.75deg, rgba(3, 17, 73, 0.8) 0%, rgba(0, 0, 0, 0.2) 26.57%);
}
.tester-landing-logo {
  width: 30px;
  margin-left: 60px;
  margin-top: 60px;
  cursor: pointer;
}
.tester-landing-above-title {
  margin-left: 120px;
  margin-top: 30px;
  font-weight: 800;
  font-size: 18px;
  letter-spacing: 3px;
  color: rgb(254, 254, 254);
  margin-bottom: 30px;
}
.tester-landing-title {
  margin-left: 120px;
  font-weight: 800;
  font-size: 48px;
  letter-spacing: 3px;
  color: rgb(254, 254, 254);
  line-height: 60px;
}
.tester-landing-subtitle {
  margin-left: 120px;
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 3px;
  color: rgb(254, 254, 254);
  line-height: 32px;
}
.tester-landing-subtitle-responsive {
  margin-top: 20px;
  margin-left: 70px;
  margin-right: 50px;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 3px;
  color: rgb(254, 254, 254);
  line-height: 32px;
  display: none;
}
.tester-join-waitlist-button {
  background-color: rgb(46, 197, 206);
  padding: 20px;
  border-radius: 10px;
  text-decoration: none;
  color: rgb(254, 254, 254);
  font-weight: 600;
  font-size: 20px;
  align-self: start;
  margin-left: 120px;
  margin-top: 30px;
  margin-bottom: 60px;
  box-shadow: 0 0 10px rgb(1, 1, 1, 0.5);
}
.tester-join-waitlist-button:hover {
  box-shadow: 0 0 10px rgb(1, 1, 1, 0.6);
}

.tester-landing-wrapper {
  z-index: 2;
  background-color: rgb(254, 254, 254);
  width: 100vw;
  display: flex;
  justify-content: center;
  padding: 60px 0px;
}
.each-tester-point-wrapper {
  display: flex;
  width: 350px;
}
.each-tester-point-icon {
  width: 72px;
  min-width: 72px;
  height: 72px;
  border-radius: 36px;
  background-color: rgb(244, 245, 247);
  margin-right: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.each-tester-point-icon i {
  color: rgb(1, 1, 1);
  font-size: 20px;
}
.each-tester-point-info {
  display: flex;
  flex-direction: column;
}
.each-tester-point-title {
  font-size: 20px;
  color: rgb(24, 25, 31);
  font-weight: 700;
  line-height: 30px;
}
.each-tester-point-text {
  font-size: 16px;
  color: rgb(3, 17, 73);
  line-height: 30px;
  font-size: 300;
}

@media only screen and (max-width: 1150px) and (min-width: 300px) {
  .tester-landing-background {
    width: 1200px;
    right: calc(max(100vw - 1200px, -150px));
  }
  .each-tester-point-wrapper {
    flex-direction: column;
    align-items: center;
    width: 230px;
    align-items: center;
  }
  .each-tester-point-icon {
    margin-right: 0px;
    margin-bottom: 20px;
  }
  .each-tester-point-title, .each-tester-point-text {
    text-align: center;
  }
}
@media only screen and (max-width: 850px) and (min-width: 300px) {
  .tester-landing-wrapper {
    flex-direction: column;
    align-items: center;
    padding-bottom: 0px;
  }
  .each-tester-point-wrapper {
    margin: 0px 40px;
    margin-bottom: 60px !important;
  }
}
@media only screen and (max-width: 900px) and (min-width: 300px) {
  .tester-landing-title {
    font-size: 40px;
  }
  .tester-landing-subtitle, .tester-landing-above-title {
    font-size: 16px;
  }
  .tester-landing-title, .tester-landing-subtitle, .tester-landing-above-title, .tester-join-waitlist-button, .tester-landing-subtitle-responsive {
    margin-left: 70px;
  }
  .tester-landing-logo {
    margin-left: 30px;
    width: 25px;
  }
}
@media only screen and (max-width: 750px) and (min-width: 300px) {
  .tester-landing-subtitle {
    display: none;
  }
  .tester-landing-subtitle-responsive {
    display: initial;
  }
}
@media only screen and (max-width: 650px) and (min-width: 300px) {
  .tester-landing-title {
    font-size: 35px;
    line-height: 50px;
  }
}
@media only screen and (max-width: 600px) and (min-width: 300px) {
  .tester-landing-title, .tester-landing-subtitle, .tester-landing-above-title, .tester-join-waitlist-button, .tester-landing-subtitle-responsive {
    margin-left: 30px;
  }
  .tester-landing-subtitle-responsive {
    margin-right: 20px;
  }
}
@media only screen and (max-width: 550px) and (min-width: 300px) {
  .tester-landing-title {
    font-size: 30px;
  }
  .tester-landing-above-title, .tester-landing-subtitle-responsive {
    font-size: 14px;
  }
}
@media only screen and (max-width: 450px) and (min-width: 300px) {
  .tester-landing-background {
    width: 1400px;
    right: -250px;
  }
}


.all-wrapper-company {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.landing-all-header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 70px;
  top: 0px;
  background-color: transparent;
  border: none;
  padding: 0px 150px;
  z-index: 10;
}

.landing-header-logo-wrapper {
  display: flex;
  align-items: center;
  text-decoration: none;
}
.landing-header-logo {
  height: 30px;
  margin-right: 10px;
}
.landing-header-logo-text {
  color: rgb(30, 30, 30);
  font-weight: 700;
}

.landing-header-buttons-wrapper {
  display: flex;
  align-items: center;
}
.landing-header-tester-button {
  color: rgb(30, 30, 30);
  text-decoration: none;
  margin-right: 30px;
  font-weight: 700;
}
.landing-header-tester-button:hover, .landing-header-start-button:hover {
  text-decoration: underline;
}
.landing-header-start-button {
  /* color: rgb(140, 48, 245); */
  color: rgb(30, 30, 30);
  font-weight: 700;
  cursor: pointer;
  margin-right: 30px;
  text-decoration: none;
}

.change-language-button {
  text-decoration: none;
  color: rgb(30, 30, 30);
  font-weight: 600; 
}
.change-language-button:hover {
  text-decoration: underline;
}

.landing-all-content {
  width: 100vw;
  height: 100vh;
  overflow-y: scroll;
}
.landing-all-content-inner-wrapper {
  width: 100%;
  height: fit-content;
  min-height: fit-content;
}

.landing-start-page-wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0px 60px;
  background: linear-gradient(rgb(217, 232, 239), rgb(234, 242, 245));
}
.landing-start-page-title {
  color: rgb(30, 30, 30);
  font-weight: 600;
  font-size: 460%;
  width: 500px;
  margin-bottom: 40px;
  text-align: center;
}
.landing-start-page-subtitle {
  color: rgb(30, 30, 30);
  font-weight: 300;
  font-size: 150%;
  width: 500px;
  margin-bottom: 40px;
  text-align: center;
}
.landing-start-button {
  background-color: rgb(30, 30, 30);
  padding: 20px 60px;
  border-radius: 10px;
  cursor: pointer;
  text-decoration: none;
}
.landing-start-button span {
  color: rgb(254, 254, 254);
  font-weight: 500;
  font-size: 150%;
}

.landing-second-page-wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: rgb(254, 254, 254);
}

.second-page-brand-wrapper {
  margin-top: 10px;
  padding: 40px 60px;
  border-top: 1px solid rgb(236, 236, 236);
  border-bottom: 1px solid rgb(236, 236, 236);
  display: flex;
  justify-content: center;
  align-items: center;
}
.each-brand {
  margin: 0px 40px;
}

.second-page-content-wrapper {
  flex: 1;
  width: 100vw;
  display: flex;
  padding: 0px 150px;
}

.second-page-animation-wrapper {
  background-color: rgb(213, 250, 252);
  border-radius: 100%;
  min-width: 30vw;
  width: 30vw;
  height: 30vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}
.second-page-animation {
  max-height: calc(30vw + 100px);
}

.second-page-inner-content-wrapper {
  margin-left: 150px;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
}
.second-page-content-subtitle {
  font-size: 90%;
  color: rgb(46, 197, 206);
  font-weight: 800;
  margin-bottom: 20px;
}
.second-page-content-title {
  color: rgb(30, 30, 30);
  font-weight: 600;
  font-size: 300%;
  margin-bottom: 40px;
}
.second-page-content-text {
  font-weight: 300;
  color: rgb(30, 30, 30);
  font-size: 125%;
  margin-bottom: 40px;
}
.second-page-down-button {
  color: rgb(140, 48, 245);
  opacity: 0.4;
  cursor: pointer;
  align-self: flex-start;
}
.second-page-down-button:hover {
  opacity: 1;
}
.second-page-down-button span {
  font-weight: 600;
  font-size: 125%;
}
.second-page-down-button i {
  margin-left: 10px;
  opacity: 1 !important;
}

.how-to-content-wrapper {
  display: flex;
  flex-direction: column;
  padding: 0px 150px;
  background-color: rgb(254, 254, 254);
  padding-bottom: 150px;
}
.how-to-title {
  font-weight: 600;
  color: rgb(30, 30, 30);
  font-size: 300%;
  margin-bottom: 40px;
}
.how-to-inner-content-wrapper {
  display: flex;
}
.how-to-each-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.how-to-each-icon {
  margin-bottom: 20px;
}
.how-to-each-title {
  color: rgb(30, 30, 30);
  margin-bottom: 10px;
  font-weight: 600;
  font-size: 150%;
}
.how-to-each-text {
  color: rgb(30, 30, 30);
  font-weight: 300;
  font-size: 125%;
}

.growth-content-wrapper {
  background-color: rgb(254, 254, 254);
  padding: 60px 150px;
  display: flex;
  align-items: center;
}
.growth-title-wrapper {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.growth-title {
  color: rgb(30, 30, 30);
  font-weight: 700;
  font-size: 250%;
  margin-bottom: 15px;
}
.growth-subtitle {
  color: rgb(30, 30, 30);
  font-weight: 300;
  font-size: 125%;
}
.growth-content-inner-wrapper {
  flex: 1;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-row-gap: 50px;
}
.each-growth-wrapper {
  display: flex;
  align-items: center;
}
.each-growth-icon {
  width: 25px;
  margin-right: 20px;
}
.each-growth-inner-wrapper {
  display: flex;
  flex-direction: column;
}
.each-growth-title {
  color: rgb(30, 30, 30);
  font-weight: 600;
  font-size: 150%;
  margin-bottom: 10px;
}
.each-growth-text {
  color: rgb(30, 30, 30);
  font-weight: 300;
  font-size: 125%;
}

.footer-wrapper {
  padding: 60px 150px;
  background-color: rgb(254, 254, 254);
  display: flex;
  flex-direction: column;
  width: 100vw;
  border-top: 1px solid rgb(236, 236, 236);
}
.footer-top-wrapper {
  flex: 1;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
}
.each-footer-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-left: 60px;
}
.each-footer-wrapper a:hover {
  text-decoration: underline;
}
.each-footer-title {
  font-weight: 600;
  font-size: 100%;
  color: rgb(30, 30, 30);
  margin-bottom: 15px;
  text-align: right;
}
.each-footer-text {
  text-decoration: none;
  font-weight: 300;
  color: rgb(30, 30, 30);
  font-size: 100%;
  margin-bottom: 10px;
  text-align: right;
}
.footer-bottom-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 50px;
}
.footer-header-logo-wrapper {
  display: flex;
  align-items: flex-end;
  text-decoration: none;
}
.footer-header-logo {
  height: 30px;
  margin-right: 10px;
}
.footer-header-logo-text {
  color: rgb(30, 30, 30);
  font-weight: 700;
}
.copyright-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.copyright-wrapper span {
  color: rgb(30, 30, 30);
  font-weight: 300;
  font-size: 85%;
  margin-top: 10px;
}

@media only screen and (max-width: 600px) and (min-width: 300px) {
  .all-wrapper-inner-tester, .all-wrapper-company {
    display: none;
  }
  .all-wrapper-inner-company, .all-wrapper-tester {
    display: flex;
  }
  .all-wrapper-buttons-wrapper {
    flex-direction: column;
  }
  .all-wrapper-left-button, .all-wrapper-right-button {
    margin: 0px;
  }
  .all-wrapper-right-button {
    margin-top: 20px;
  }
}

@media only screen and (max-width: 700px) and (min-width: 300px) {
  .second-page-content-wrapper {
    flex-direction: column;
    align-items: center;
  }
  .second-page-animation-wrapper {
    margin-top: 50px;
    margin-bottom: 30px;
  }
  .second-page-inner-content-wrapper {
    margin-left: 0px !important;
    height: auto;
  }
  .second-page-down-button {
    margin-left: auto;
  }
  .growth-content-wrapper {
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
  }
  .growth-content-inner-wrapper {
    margin-top: 50px;
    width: 100%;
    grid-column-gap: auto;
    padding-right: 0px;
  }
  .how-to-content-wrapper {
    padding-top: 20px !important;
  }
  .how-to-inner-content-wrapper {
    flex-direction: column;
  }
  .how-to-each-wrapper {
    flex: initial;
    width: 75vw;
  }
  .how-to-second-each-wrapper {
    margin: 50px 0px !important;
    margin-left: auto !important;
    align-items: flex-end;
  }
  .how-to-second-each-wrapper span {
    text-align: right;
  }
  .growth-title-wrapper {
    width: 100%;
  }
  .growth-subtitle {
    margin-left: auto;
  }
  .each-growth-wrapper-right {
    justify-content: flex-end;
  }
  .each-growth-wrapper-right span {
    text-align: right;
  }
  .contact-content-wrapper {
    flex-direction: column;
    padding-top: 80px !important;
    padding-bottom: 80px !important;
  }
  .contact-left-wrapper {
    margin-right: 0px;
    margin-bottom: 30px;
  }
  .contact-right-wrapper {
    margin-left: 0px;
  }
}

@media only screen and (max-width: 1100px) and (min-width: 1000px) {
  .landing-all-header, .second-page-content-wrapper, .how-to-content-wrapper {
    padding: 0px 100px;
  }
  .how-to-content-wrapper, .contact-content-wrapper {
    padding: 100px;
  }
  .growth-content-wrapper, .footer-wrapper {
    padding: 60px 100px;
  }
  .second-page-inner-content-wrapper {
    margin-left: 100px;
  }
  .how-to-each-text {
    font-size: 100%;
  }
  .how-to-each-title {
    font-size: 125%
  }
}

@media only screen and (max-width: 1000px) and (min-width: 900px) {
  .landing-all-header, .second-page-content-wrapper, .how-to-content-wrapper {
    padding: 0px 100px;
  }
  .how-to-content-wrapper, .contact-content-wrapper {
    padding: 100px;
  }
  .growth-content-wrapper, .footer-wrapper {
    padding: 60px 100px;
  }
  .second-page-inner-content-wrapper {
    margin-left: 100px;
  }
  .how-to-each-text {
    font-size: 100%;
  }
  .how-to-each-title {
    font-size: 125%
  }
  .second-page-content-title, .how-to-title {
    font-size: 250%;
  }
  .contact-title {
    font-size: 225%;
  }
}

@media only screen and (max-width: 900px) and (min-width: 800px) {
  .landing-all-header, .second-page-content-wrapper, .how-to-content-wrapper {
    padding: 0px 50px;
  }
  .how-to-content-wrapper, .contact-content-wrapper {
    padding: 50px;
  }
  .growth-content-wrapper, .footer-wrapper {
    padding: 50px 50px;
  }
  .second-page-inner-content-wrapper {
    margin-left: 50px;
  }
  .how-to-each-text, .contact-subtitle {
    font-size: 100%;
  }
  .how-to-each-title {
    font-size: 125%
  }
  .second-page-content-title, .how-to-title {
    font-size: 250%;
  }
  .contact-title {
    font-size: 225%;
  }
  .growth-title {
    font-size: 200%;
    margin-bottom: 10px;
  }
  .each-brand {
    margin: 0px 20px;
  }
  .each-footer-text, .each-footer-title {
    font-size: 90%;
  }
  .copyright-wrapper span {
    font-size: 75%;
  }
}

@media only screen and (max-width: 800px) and (min-width: 600px) {
  .landing-all-header, .second-page-content-wrapper, .how-to-content-wrapper {
    padding: 0px 50px;
  }
  .how-to-content-wrapper, .contact-content-wrapper {
    padding: 50px;
  }
  .growth-content-wrapper, .footer-wrapper {
    padding: 50px 50px;
  }
  .second-page-inner-content-wrapper {
    margin-left: 50px;
  }
  .how-to-each-text, .contact-subtitle {
    font-size: 100%;
  }
  .how-to-each-title {
    font-size: 125%
  }
  .second-page-content-title, .how-to-title {
    font-size: 200%;
  }
  .second-page-content-text, .second-page-down-button {
    font-size: 100%;
  }
  .second-page-content-subtitle {
    font-size: 80%;
  }
  .contact-title {
    font-size: 225%;
  }
  .growth-title {
    font-size: 200%;
    margin-bottom: 10px;
  }
  .growth-subtitle {
    font-size: 125%;
  }
  .each-brand {
    margin: 0px 10px;
  }
  .each-footer-text, .each-footer-title {
    font-size: 90%;
  }
  .copyright-wrapper span {
    font-size: 75%;
  }
}

@media only screen and (max-width: 600px) and (min-width: 500px) {
  .landing-start-page-title {
    font-size: 300%;
    width: 350px;
    margin-bottom: 20px;
  }
  .landing-start-page-subtitle {
    font-size: 125%;
    margin-bottom: 20px;
  }
  .landing-start-button span {
    font-size: 125%;
  }
  .landing-header-tester-button {
    margin-right: 20px;
  }
  .landing-all-header, .second-page-content-wrapper, .how-to-content-wrapper {
    padding: 0px 20px;
  }
  .how-to-content-wrapper, .contact-content-wrapper {
    padding: 20px;
  }
  .growth-content-wrapper, .footer-wrapper {
    padding: 20px 20px;
  }
  .second-page-inner-content-wrapper {
    margin-left: 20px;
  }
  .how-to-each-text, .contact-subtitle {
    font-size: 100%;
  }
  .how-to-each-title {
    font-size: 125%
  }
  .second-page-content-title, .how-to-title {
    font-size: 200%;
  }
  .second-page-content-text, .second-page-down-button {
    font-size: 100%;
  }
  .second-page-content-subtitle {
    font-size: 80%;
  }
  .contact-title {
    font-size: 225%;
  }
  .growth-title {
    font-size: 200%;
    margin-bottom: 10px;
  }
  .growth-subtitle {
    font-size: 100%;
    margin-top: 20px;
  }
  .second-page-brand-wrapper {
    padding: 30px 20px;
  }
  .each-brand {
    margin: 0px 10px;
    width: 60px;
    height: auto;
    align-self: center;
  }
  .each-footer-text, .each-footer-title {
    font-size: 90%;
  }
  .copyright-wrapper span {
    font-size: 75%;
  }
  .each-footer-wrapper {
    margin-left: 20px;
  }
}

@media only screen and (max-width: 500px) and (min-width: 300px) {
  .landing-start-page-title {
    font-size: 200%;
    width: 275px;
    margin-bottom: 20px;
  }
  .landing-start-page-subtitle {
    font-size: 100%;
    width: 275px;
    margin-bottom: 20px;
  }
  .landing-start-button span {
    font-size: 125%;
  }
  .landing-header-tester-button {
    margin-right: 10px;
  }
  .landing-all-header, .second-page-content-wrapper {
    padding: 0px 20px;
  }
  .landing-second-page-wrapper {
    height: auto;
    min-height: fit-content;
  }
  .second-page-down-button {
    margin-bottom: 20px;
  }
  .second-page-content-text {
    margin-bottom: 20px;
  }
  .landing-header-logo-text, .footer-header-logo-text {
    display: none;
  }
  .landing-header-tester-button, .landing-header-start-button {
    font-size: 75%;
  }
  .how-to-content-wrapper, .contact-content-wrapper {
    padding: 20px;
  }
  .each-input-line {
    flex-direction: column;
    margin-bottom: 0px;
  }
  .each-input-line input {
    width: 100%;
    flex: initial;
    margin: 0px !important;
    margin-bottom: 20px !important;
  }
  .growth-content-wrapper, .footer-wrapper {
    padding: 20px 20px;
  }
  .second-page-inner-content-wrapper {
    margin-left: 20px;
  }
  .how-to-each-text, .contact-subtitle {
    font-size: 100%;
  }
  .how-to-each-title {
    font-size: 125%
  }
  .second-page-content-title, .how-to-title {
    font-size: 175%;
  }
  .second-page-content-title {
    margin-bottom: 20px;
  }
  .second-page-content-text, .second-page-down-button {
    font-size: 100%;
  }
  .second-page-content-subtitle {
    font-size: 80%;
  }
  .contact-title {
    font-size: 225%;
  }
  .growth-title {
    font-size: 200%;
    margin-bottom: 10px;
  }
  .growth-subtitle {
    font-size: 100%;
    margin-top: 20px;
  }
  .second-page-brand-wrapper {
    padding: 20px 10px;
  }
  .each-brand {
    margin: 0px 10px;
    width: 40px;
    height: auto;
    align-self: center;
  }
  .each-footer-text, .each-footer-title {
    font-size: 90%;
  }
  .copyright-wrapper span {
    font-size: 75%;
  }
  .each-footer-wrapper {
    margin-left: 15px;
  }
  .each-footer-text {
    font-size: 75%;
  }
  .each-growth-title, .each-growth-text {
    font-size: 100%;
  }
}
