.all-wrapper {
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start !important;
  align-items: flex-start !important;
  padding: 40px;
}

.go-back-link {
  color: rgb(80, 177, 238);
  font-weight: 600;
  font-size: 75%;
  text-decoration: none;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.go-back-link i {
  margin-right: 5px;
}

.main-content-wrapper {
  height: 80%;
  width: 100%;
  display: flex;
}

.start-page-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  overflow: scroll;
}
.start-page-left-side {
  flex: 1;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
}
.campaign-photo-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius: 30px;
}
.campaign-photo {
  max-width: 100%;
  border-radius: 30px;
}
.start-page-right-side {
  flex: 1;
  height: 100%;
  margin-left: 10px;
  display: flex;
  flex-direction: column;
}
.campaign-name {
  color: rgb(30, 30, 30);
  font-weight: 600;
  margin-bottom: 20px;
  font-size: 175%;
}
.campaign-error {
  color: rgb(240, 84, 79);
  font-weight: 500;
  font-size: 125%;
}
.campaign-info {
  color: rgb(30, 30, 30);
  font-weight: 300;
  font-size: 125%;
  margin-bottom: 20px;
}
.campaign-version {
  margin-top: auto;
  margin-left: auto;
  color: rgb(30, 30, 30);
  font-size: 75%;
  font-weight: 300;
}

.each-question-wrapper {
  display: none;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.each-question-text {
  color: rgb(30, 30, 30);
  font-weight: 600;
  font-size: 150%;
  margin-bottom: 20px;
}
.question-short-answer-input-wrapper, .question-long-answer-input-wrapper {
  flex-direction: column;
  display: none;
  flex: 1;
}
.question-short-answer-input, .question-long-answer-input {
  background-color: rgb(254, 254, 254);
  border: 2px solid rgb(236, 236, 236);
  box-shadow: 0px;
  color: rgb(30, 30, 30);
  font-size: 100%;
  padding: 15px 20px;
  width: 100%;
  outline: none;
  border-radius: 30px;
}
.question-long-answer-input {
  height: 50%;
}
.question-short-left-character-text, .question-long-left-character-text {
  margin-left: auto;
  font-size: 100%;
  font-weight: 300;
  color: rgb(30, 30, 30);
  margin-top: 10px;
}
.each-choice {
  margin-left: 20px;
  margin-bottom: 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
}
.choice-inner-radio {
  width: 6px;
  height: 6px;
  border-radius: 3px;
  background-color: rgb(254, 254, 254);
}
.choice-radio {
  width: 20px;
  height: 20px;
  border-radius: 10px;
  background-color: rgb(254, 254, 254);
  border: 1px solid rgb(236, 236, 236);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
}
.choice-checked {
  width: 20px;
  height: 20px;
  border-radius: 4px;
  background-color: rgb(254, 254, 254);
  border: 1px solid rgb(236, 236, 236);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
}
.choice-checked i {
  font-size: 65%;
  color: rgb(254, 254, 254);
}
.choice-text {
  color: rgb(30, 30, 30);
  font-weight: 300;
}
.selected {
  background-color: rgb(80, 177, 238) !important;
}
.other-option-wrapper-radio, .other-option-wrapper-checked {
  display: none;
  align-items: center;
  margin-left: 20px;
}
.other-option-input-radio, .other-option-input-checked {
  border: none;
  background-color: transparent;
  border-bottom: 1px solid rgb(236, 236, 236);
  padding-bottom: 5px;
  color: rgb(30, 30, 30);
  font-weight: 300;
  outline: none;
  font-size: 100%;
}

.end-page-wrapper {
  width: 100%;
  height: 100%;
  display: none;
  flex-direction: column;
}
.end-page-questions-wrapper {
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
}
.each-question-end {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
.each-question-text-end {
  color: rgb(30, 30, 30);
  font-weight: 500;
  margin-bottom: 5px;
}
.each-question-answer-end {
  color: rgb(30, 30, 30);
  font-weight: 300;
  margin-left: 20px;
  margin-top: 10px;
}

.navigation-bar-wrapper {
  display: flex;
  width: 100%;
  align-items: center;
  margin-top: 20px;
}
.progress-bar {
  flex: 1;
  display: flex;
  align-items: center;
  border-radius: 7.5px;
  height: 15px;
  border: 2px solid rgb(236, 236, 236);
  overflow: hidden;
  background-image: linear-gradient(to right, rgb(80, 177, 238), rgb(240, 84, 79));
}
.progress-bar-full {
  height: 15px;
  width: 5px;
  background-color: transparent;
}
.progress-bar-empty {
  flex: 1;
  height: 15px;
  background-color: rgb(246, 246, 246);
}
.go-back-button {
  height: 45px;
  padding: 0px 25px;
  background-color: rgb(80, 177, 238);
  border: 0px;
  cursor: not-allowed;
  display: flex;
  align-items: center;
  text-decoration: none;
  outline: none;
  margin-right: 20px;
  border-radius: 30px;
  box-shadow: 0 0 20px rgba(88, 177, 238, 0.3);
}
.go-back-button:hover {
  box-shadow: 0 0 23px rgba(88, 177, 238, 0.4);
}
.go-back-button span {
  color: rgb(254, 254, 254);
  font-weight: 700;
  font-size: 125%;
}
.move-on-button {
  background-color: rgb(240, 84, 79);
  box-shadow: 0 0 20px rgba(240, 84, 79, 0.4);
  text-decoration: none;
  height: 45px;
  padding: 0px 25px;
  border-radius: 25px;
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-left: 20px;
}
.move-on-button:hover {
  box-shadow: 0 0 23px rgba(240, 84, 79, 0.5);
}
.move-on-button span{
  color: rgb(254, 254, 254);
  font-weight: 700;
  font-size: 125%;
}

/* .navigation-bar-wrapper-responsive {
  display: none;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
} */


@media only screen and (max-width: 700px) and (min-width: 300px) {
  .all-wrapper {
    padding: 20px;
  }
  .start-page-wrapper {
    flex-direction: column;
  }
  .main-content-wrapper {
    flex: 1;
  }
  .start-page-left-side, .start-page-right-side {
    flex: initial;
  }
  .campaign-name {
    font-size: 125%;
  }
  .campaign-info {
    font-size: 100%;
  }
  .campaign-photo-wrapper {
    max-height: 50vh;
  }
  .campaign-photo {
    max-height: 100%;
    width: auto;
    max-width: auto;
  }
}

@media only screen and (max-width: 600px) and (min-width: 300px) {
  .go-back-button {
    margin-right: 10px;
  }
  .move-on-button {
    margin-left: 10px;
  }
  .go-back-button, .move-on-button {
    padding: 10px 15px;
    font-size: 85%;
  }
}
