::placeholder {
  color: rgb(196, 196, 196);
  opacity: 1;
  font-weight: 500;
}
:-ms-input-placeholder {
  color: rgb(196, 196, 196);
  font-weight: 500;
}
::-ms-input-placeholder {
  color: rgb(196, 196, 196);
  font-weight: 500;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

textarea {
  resize: none;
}

.general-input {
  height: 55px;
  min-height: 55px;
  width: 100%;
  padding: 0px 22px;
  color: rgb(78, 75, 102);
  font-size: 12px;
  font-weight: 600;
  border: 1px solid rgba(151, 151, 151, 0.3);
  border-radius: 5px;
  outline-color: rgba(46, 197, 206, 0.6);
  outline-width: 0.5px;
  margin-bottom: 15px;
}
